<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/feedback.css" />
    <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      {# <link rel="stylesheet" type="text/css" href="css/style.css"> #}
      <!-- Responsive-->
      
    <title>Let Us Know Your Feedback || @Ecommerce.com</title>
  </head>
  <body>
  <form action="{{ path('email') }}" method="POST">
    <div id="panel" class="panel-container">
      <strong>How satisfied are you with our <br /> customer support performance?</strong>
      <div class="ratings-container">
        <div class="rating">
          <img src="images/sad.jpeg" class="circle" alt="">
          <small>Unhappy</small>
        </div>

        <div class="rating">
          <img src="images/neutral.jpeg" alt=""/>
          <small>Neutral</small>
        </div>

        <div class="rating active">
          <img src="images/happy.jpeg" alt=""/>
          <small>Satisfied</small>
        </div>
      </div>
      <span> Name: <input name="name" id="name" required style="height:35px;width:200px;" placeholder="ex:john"></input></span>
       <span>Comments:<input name="comments" id="comments" required style="height:50px;width:300px;" placeholder="any suggestion"></input></span>
      {# <button class="btn" id="send"><a href="http://main_project/email">Send Review</a></button> #}
      <button class="btn" id="send" type="submit">Send Review</button>
    </div></form>
    <div class="credit">Made with <span style="color:tomato"></span> by <a  href="https://www.learningrobo.com/">Shopping villa</a></div>
    {# <script src="JS/feedback.js"></script> #}
  </body>
</html>
